<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/signup.css">
    <title>Document</title>
</head>

<body>
    <h1>hello</h1>
    <ol>

        <%items.forEach(function(item){%>
        <div class="container shadow-sm p-3 mb-5 bg-white rounded col">
            <li><%=item.item_name%> : <%=item.description%>:
                <h3><%=item.market_value%></h3>
                <button class="btn btn-success">
                    <a href="/<%=user%>/inventory/<%=item.itemid%>">view more</a>
                </button>
            </li>
        </div>
        <%});%>
    </ol>
    <div>
        <button class=" btn btn-success ">
        <a href="/<%=user%>/inventory/new"> ADD a new ITEM!</a></div>
    </button>
</body>

</html>