<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/signup.css">
    <title>Document</title>
</head>
<body>
    <div class="container shadow-sm p-3 mb-5 bg-white rounded col">
        <h4><%=item.item_name%></h4>
        <p><%=item.description%></p>
        <p><%=item.type%></p>
        <h3><%=item.market_value%></h3>
        <p>hello</p>
    </div>
    <div >
        <ol>
        <%bids.forEach(function(bid){%>
            <li>placed by:<%=bid.placedby%>
                value:<%=bid.value%>
            </li>
        <%});%>
        </ol>
    </div>
    <div>

        <button id ="salebutton" ><a href="/<%=user%>/inventory/<%=item.itemid%>/sale">sell!</a></button>
    </div>
        <button class="btn btn-success" onclick="dispform()">EDIT!</button>
    <div id="myform">
        <div class="container mycontainer2 shadow-sm p-3 mb-5 bg-white rounded col">
            <form action="/<%=user%>/inventory/<%=item.itemid%>/edit" method="POST" id="form1">
                <div class="form-group">
                    <label for="exampleInputEmail1">LABEL:</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="item_name"
                        aria-describedby="emailHelp" value="<%=item.item_name%>">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description:</label>
                    <input type="text" class="form-control" name="description" id="exampleInputPassword1"
                        value="<%=item.description%>">
                </div>
                <div class="form-group">
                    <label for="type">TYPE:</label>
                    <select form="form1" name="type" id="type" value="<%=item.type%>">
                        <option value="furniture">Furniture</option>
                        <option value="wardrobe">wardrobe</option>
                        <option value="stationary">stationary</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="market_value">market_value:</label>
                    <input type="number" class="form-control" name="market_value" id="market_value"
                        value=<%=item.market_value%>>
                    <%if(item.status=='sold'){%>
                        <button id="edit button"  class="btn btn-success " style="margin: auto;" disabled="true" >submit edit!</button>
                        
                        <%}else{%>
                        <button id="edit button"  class="btn btn-success " style="margin: auto;" disabled="false" >submit edit!</button>
                            <%}%>
         </form>
        </div>
    </div>
</body>
<script>
    function sale(bids)
    {
        console.log(bids)
        var  input1=document.createElement('input');
         var sale1=document.getElementById("saleform")
    input1.setAttribute('bid',bids[0].bidid)
    input1.setAttribute('value',bids[0].value)
    input1.setAttribute('placedby',bids[0].placedby)
    sale1.appendChild(input1);
    sale1.submit();


}
var form=document.getElementById("myform");
form.style.display='none';
function dispform(){
    form.style.display='flex'
}
</script>
</html>